/* ## Colors

### Primary

- Soft blue: hsl(215, 51%, 70%)
- Cyan: hsl(178, 100%, 50%)

### Neutral

- Very dark blue (main BG): hsl(217, 54%, 11%)
- Very dark blue (card BG): hsl(216, 50%, 16%)
- Very dark blue (line): hsl(215, 32%, 27%)
- White: hsl(0, 0%, 100%) 

## Typography

### Body Copy

- Font size (paragraph): 18px

### Font

- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 300, 400, 600

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px
 */

:root {
  --primaryOne: hsl(215, 51%, 70%);
  --primaryTwo: hsl(178, 100%, 50%);
  --primaryTwoG: hsl(178, 100%, 50%, 0.6);
  --neutralOne: hsl(217, 54%, 11%);
  --neutralTwo: hsl(216, 50%, 16%);
  --neutralThree: hsl(215, 32%, 27%);
  --neutralFour: hsl(0, 0%, 100%);
  --fontPrimary: "Outfit", sans-serif;
}

/* -----------------------SNIPPETS GENERALES--------------------- */

html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
}

*,
*:before,
*after {
  box-sizing: inherit;
}

body {
  font-family: var(--fontPrimary);
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: var(--neutralOne);
  height: 100%;
}

/* --------------------------GLOBALES----------------------------- */

img {
  max-width: 100%;
  display: block;
  height: auto;
}

/* ------------------------------------------------------ */

.card {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.card .contenedor {
  background-color: var(--neutralTwo);
  margin: 3.5rem 2rem;
  border: 1rem solid var(--neutralTwo);
  border-radius: 1rem;
  padding: 1rem;
}

@media (min-width: 768px) {
  
  .card{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card .contenedor {
    max-width: 375px;
    max-height: 650px;
    margin: 0 auto;
    
  }
}

.card .image-nft {
  background-image: url(/images/image-equilibrium.jpg);
  width: 100%;
  padding-top: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 2px solid var(--neutralTwo);
  border-radius: 1rem;
  overflow: hidden;
}

.card .image-nft:hover {
  background-image: url(/images/icon-view.svg),
    linear-gradient(var(--primaryTwoG), var(--primaryTwoG)),
    url(/images/image-equilibrium.jpg), url(/images/icon-view.svg);
  background-size: 5rem, cover, cover;
  cursor: pointer;
}

.card h1 {
  font-size: 2.5rem;
  color: var(--neutralFour);
}

.card h1:hover {
  color: var(--primaryTwo);
  cursor: pointer;
}

.card p {
  color: var(--neutralThree);
  font-size: 1.8rem;
  margin: 1.2rem 0;
}

.card .details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--neutralThree);
  padding-bottom: 1rem;
}

.card .eth-icon {
  display: inline;
}

.card .eth-price {
  display: inline;
  color: var(--primaryTwo);
  font-weight: 900;
}

.card .details p {
  display: inline;
}
.card .details div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}
.card .autor {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.card .autor-icon {
  width: 4rem;
}

.card .autor-name {
  color: var(--neutralFour);
}

.card .autor-name:hover {
  color: var(--primaryTwo);
  cursor: pointer;
}
