/* ## Colors

### Primary

- Soft blue: hsl(215, 51%, 70%)
- Cyan: hsl(178, 100%, 50%)

### Neutral

- Very dark blue (main BG): hsl(217, 54%, 11%)
- Very dark blue (card BG): hsl(216, 50%, 16%)
- Very dark blue (line): hsl(215, 32%, 27%)
- White: hsl(0, 0%, 100%) 

## Typography

### Body Copy

- Font size (paragraph): 18px

### Font

- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 300, 400, 600
 */

* {
  color: white;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-color: hsl(217, 54%, 11%);
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

.container {
  height: 100vh;
  width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 100px;
  padding: 50px;
}

.card-container {
  height: auto;
  width: 350px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  background-color: hsl(216, 50%, 16%);  
  margin: 10px;
  padding: 20px;
  
}

.img-container {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  margin: 0 auto;
  
}

.img-nft {
  border-radius: 12px;
  width: 100%; 
  }

.title-nft{  
  align-self: flex-start;
  font-size: 24px;
  font-weight:600;
  color: white;
}

.desc-nft{
  color: hsl(215, 52%, 70%) ;
  font-size: 18px;
}
